body {
    margin: 0;
    padding: 0;
    background-color: #FDF6EC; /* color hueso */
    font-family: 'Georgia', serif;
    color: #333;
}

.barra-herramientas {
    background-color: #800020;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.barra-herramientas ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.barra-herramientas li {
    margin: 0 15px;
}

.barra-herramientas a {
    text-decoration: none;
    color: #F4F3F3;
    font-weight: bold;
    transition: color 0.3s ease;
}

.barra-herramientas a:hover {
    color: #E9D1BA;
}
.iconos-redes {
  text-align: center;
  padding: 10px 0;
}

.iconos-redes img {
  height: 30px;
  margin: 0 5px;
  vertical-align: middle;
}

.icono-redes {
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.seccion {
    padding: 80px 40px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.seccion h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #5B2432;
}

.seccion p {
    font-size: 18px;
    line-height: 1.6;
}
